.about-div{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    background-color: #eeeeee;
    justify-content: space-evenly;
}

.about-me{
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.about-description{
    width: 800px;

}