.policy-div{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    justify-content: space-evenly;
}

.policy-description{
    width: 800px;
    margin: auto;
}

.policy-header{
    margin: auto;
}