#strong-man1 {
    position: absolute;
    /* overflow: hidden; */
}

.navbar {
    height: 80px;
    overflow: hidden;
}

.content {
    position: relative;
}

#Home {
    @media (min-height: 80px);
    scroll-margin-top: 80px;
}

#About {
    @media (min-height: 80px);
    scroll-margin-top: 70px;
}

#Policies {
    @media (min-height: 80px);
    scroll-margin-top: 80px;
}

#Services {
    @media (min-height: 80px);
    scroll-margin-top: 80px;
}

#Location {
    @media (min-height: 80px);
    scroll-margin-top: 80px;
}

html {
    scroll-behavior: smooth;
}

.parallax {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
}
